<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="fragments/template :: head"> 
  </head>
  <body>
  
  <div class="limiter">
		<div class="container-login">
			<div class="wrap-login">
				

				<form class="login-form validate-form" th:action="@{/calc}" th:object="${calculation}" method="post">
					<span class="login-form-title">
						Calculator of square equations like: 
					</span>
					<span class="login-form-title">
						ax^2 + bx + c = 0
					</span>
					<span class="login-form-title">
						Specify the values to calculate!
					</span>

					<div class="wrap-input validate-input" data-validate = "Please enter a valid value!">
						<input class="input" type="text" th:field="*{avalue}" placeholder="a">
						<span class="focus-input"></span>
						<span class="symbol-input">
							a
						</span>
					</div>

					<div class="wrap-input validate-input" data-validate = "Please enter a valid value!">
						<input class="input" type="text" th:field="*{bvalue}"  placeholder="b">
						<span class="focus-input"></span>
						<span class="symbol-input">
							b
						</span>
					</div>
					
					<div class="wrap-input validate-input" data-validate = "Please enter a valid value!">
						<input class="input" type="text" th:field="*{cvalue}"  placeholder="b">
						<span class="focus-input"></span>
						<span class="symbol-input">
							с
						</span>
					</div>
					
					<div class="container-login-form-btn">
						<input type="submit" value="Calculate" class="login-form-btn"/>
					</div>

				</form>
			</div>
		</div>
	</div>
	
  
    
    <div th:replace="fragments/template :: footer"></div>
  </body>
</html>